/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here.*/
/* :root {*/
/*   --ifm-color-primary: #3578e5; /*#25c2a0;*/
/*   --ifm-color-primary-dark: #1d68e1; /*rgb(33, 175, 144);*/
/*   --ifm-color-primary-darker: #1b62d4; /*rgb(31, 165, 136);*/
/*   --ifm-color-primary-darkest: #1751af; /*rgb(26, 136, 112);*/
/*   --ifm-color-primary-light: #4e89e8; /*rgb(70, 203, 174);*/
/*   --ifm-color-primary-lighter: #5a91ea; /*rgb(102, 212, 189);*/
/*   --ifm-color-primary-lightest: #80aaef; /*rgb(146, 224, 208);*/
/*   --ifm-code-font-size: 90%; /*95%;*/
/* }*/
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] {
  --ifm-background-color: #1e2125;
  --ifm-background-surface-color: #121212;
}
/* html[data-theme='dark'] .docusaurus-highlight-code-line { */
/*   background-color: rgba(0, 0, 0, 0.3); */
/* } */
